@import "../../../../styles/variables.scss";

.event-form {
  &__field {
    height: 40px;
    outline: none;

    &_hover {
      border-bottom-width: 0;
      border-bottom-style: solid;
      border-bottom-color: $todayColor;
      transition: border-bottom-width 100ms;

      &:hover {
        border-bottom-width: 2px;
        transition: border-bottom-width 100ms;
        cursor: pointer;
      }
    }

    &_done {
      text-decoration: line-through;
    }

    &_delete {
      opacity: 0.2;
    }

    &_edit {
      background-color: #f1f1f1;
    }
  }

  &__shield {
    width: 0;
    height: 0;
    position: relative;
    top: -2px;
    background-color: #ffffff;
    transition: width 100ms;

    &_hover {
      border-top: 1px solid $todayColor;
      border-bottom: 1px solid $todayColor;
    }
  }

  &__time {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
  }
}

.fa-clock,
.fa-align-left {
  position: absolute;
  margin-left: 25px;
}

.fa-align-left {
  margin-top: 10px;
}

#date,
#startTime,
#endTime {
  position: absolute;
  visibility: hidden;
}
