@import "../../components/../utils/variables.scss";

.event-form {
  &__field {
    &_description {
      border: none;
      width: 80%;
      font-size: 14px;
      resize: none;
      padding: 10px;
      border-radius: 5%;
      margin-left: 15%;
      margin-bottom: -4px;

      &:hover + div,
      &:focus + div {
        width: 80%;
        transition: width 100ms;
      }
    }
  }

  &__shield {
    &_description {
      margin-left: 15%;
      margin-bottom: 20px;
    }
  }
}
