.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__body {
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__week-container {
    display: flex;
    width: 100%;
    height: fit-content;
  }
}
