.event {
  display: flex;
  position: absolute;
  font-size: 11px;
  width: 90%;
  background-color: #4285f4;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
  }

  &__time {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    opacity: 0.85;
    cursor: pointer;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
