@import "../../../../../../styles/variables.scss";

.event-form {
  &__field {
    &_start-time {
      font-size: 16px;
      border-bottom-width: 0;
      border-bottom-style: solid;
      border-bottom-color: $todayColor;
      margin-left: 24px;
      padding-left: 0;
    }

    &_end-time {
      font-size: 16px;
      border-bottom-width: 0;
      border-bottom-style: solid;
      border-bottom-color: $todayColor;
      padding-left: 0;
      padding-top: 20px;
      margin-top: -20px;
    }

    &_interval {
      padding: 0 10px 0 10px;
      line-height: 100%;
    }
  }
}
