.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-scale {
    height: 100%;
    width: 48px;
  }
}

.time-slot {
  display: flex;
  height: 59px;
  width: 48px;
  text-align: right;

  &__time {
    font-size: 10px;
    opacity: 0.7;
    margin-top: -7px;
    padding: 0 14px;
  }
}
