.clock {
  position: absolute;
  background-color: #ff0000;

  &__circle {
    height: 12px;
    width: 12px;

    border-radius: 50%;
  }

  &__line {
    display: flex;
    align-items: center;

    left: -5px;

    height: 2px;
    width: 102%;

    z-index: 10;
  }
}
